<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TicTacToe</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Tic Tac Toe</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                            <div class="dropdown-menu">
                                <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Settings</a>
                                <div class="dropdown-menu">
                            </div>

                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>

                        @*<li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Settings<span class="caret"></span></a>
            <ul class="dropdown-menu multi-level">
                <li class="dropdown-submenu">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Select your language (@ViewBag.Language)<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li @(ViewBag.Language == "DA" ? "active" : "")><a asp-controller="Home" asp-action="SetCulture" asp-route-culture="DA">Danish</a></li>
                        <li @(ViewBag.Language == "EN" ? "active" : "")><a asp-controller="Home" asp-action="SetCulture" asp-route-culture="EN">English</a></li>
                    </ul>
                </li>
            </ul>
        </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="container body-content">
        @RenderBody()
    </main>

    <footer class="container">
        <hr />
        <p>&copy; 2019 - Tic Tac Toe</p>
    </footer>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js"></script>

    @RenderSection("Scripts", required: false)
    <environment include="Development">
        <script src="~/app/js/scripts1.js"></script>
        <script src="~/app/js/scripts2.js"></script>
    </environment>
</body>
</html>